################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net9.0
/obj
/ControlBridge/.vs
/ControlBridge/bin/Debug/net9.0
/ControlBridge/obj
/.github
/ControlBridge/.github
/Controller/.github
/Controller/.vs
/Controller/bin/Debug/net9.0
/Controller/obj
/Controller/Ui/.vscode
/Controller/Ui/node_modules
/OnOffSample/.github
/OnOffSample/.vs
/OnOffSample/.vs/ProjectEvaluation/riot2.matter.onoffsample.metadata.v9.bin
/OnOffSample/bin/Debug/net9.0
/OnOffSample/obj
/bin/Release/net9.0
/ControlBridge/bin/Release/net9.0
